---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
About Me

<div class="container px-4 text-center" style="margin-top:20px;">
<div class="row gx-5">
<div class="col"><div class="p-3"><img src="/img/signpost.jpg" class="rounded-circle" width="200" height="150"></div></div>
<div class="col"><div class="p-3">Career switcher living in West Yorkshire, starting out in Web Development</div>
</div>
</div>
<div class="row gx-5" style="margin-top:50px;">Below are some pictures of my favourite buildings in Leeds</div>
</div>
<hr>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
